{
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "import/no-unresolved": 0,
    "import/no-named-as-default": 0,
    "import/prefer-default-export": 0,
    "import/newline-after-import": "error",
    "import/imports-first": [
      "error",
      "absolute-first"
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "react/jsx-closing-tag-location": 0,
    "react/sort-comp": 0,
    "react/prop-types": 0,
    "react/no-multi-comp": 0,
    "react/button-has-type": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-wrap-multilines": 0,
    "react/require-default-props": 0,
    "react/jsx-curly-brace-presence": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/no-array-index-key": 0,
    "react/default-props-match-prop-types": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/destructuring-assignment": 0,
    "react/no-children-prop": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/aria-role": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "no-void": 0,
    "comma-dangle": 0,
    "padded-blocks": 0,
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "no-console": ["error"],
    "no-alert": ["error"],
    "eol-last": 0,
    "no-trailing-spaces": 0,
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-underscore-dangle": 0,
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": false
      }
    ],
    "key-spacing": 0,
    "no-nested-ternary": 0,
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "implicit-arrow-linebreak": 0,
    "no-confusing-arrow": 0,
    "no-unused-vars": "error",
    "no-unneeded-ternary": 0,
    "no-restricted-globals": "off",
    "no-unused-expressions": ["error", { "allowShortCircuit": true }],
    "max-classes-per-file": ["error", 1],
    "operator-linebreak": ["error", "before", { "overrides": { "&&": "after" }}],
    "no-shadow": 0,
    "object-curly-newline": [
      "error",
      {
        "consistent": true
      }
    ],
    "object-curly-spacing": [
      "error",
      "always",
      {
        "objectsInObjects": false
      }
    ]
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true,
    "it": true,
    "expect": true,
    "jest": true,
    "alert": true,
    "describe": true,
    "prompt": true
  }
}
