.add-dropdown {
  .plus-btn {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background: $secondary;
    border: 5px solid lighten($secondary, 28%);

    .plus-icon {
      font-size: 20px;
      font-weight: 300;
      line-height: 20px;
      color: $white;
      position: relative;
      top: -1px;
    }
  }

  .add-dropdown-content {
    margin-top: 40px;
    .add-dropdown-item {
      @include linear-gradient-left-right(
        lighten($secondary, 18%),
        lighten($secondary, 10%)
      );
      display: block;
      border-radius: $border-radius-main;
      padding: 0px 10px;
      width: 200px;
      margin-bottom: 10px;
      min-height: 40px;
      display: flex;
      align-items: center;

      &:hover {
        @include linear-gradient-left-right(
          lighten($secondary, 8%),
          lighten($secondary, 0%)
        );
      }

      .icon {
        background: url('/images/icons/user-white.png') no-repeat center center;
        width: 50px;
        height: 30px;
      }

      .label {
        color: $white;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}
