$header-height: 62px;
$border-radius-main: 4px;
$border-color-primary: #F5F7F9;

$frequency-tint-green-lighter: #e6ee9e;
$frequency-tint-green-light: #c6e1a6;
$frequency-tint-green: #a6d7a8;
$frequency-tint-green-dark: #82cbc4;
$frequency-tint-blue-light: #82deea;
$frequency-tint-blue: #83d5f9;

$primary-dark: #0251b5;
$primary-medium: #87addc;
$primary-light: #dee7f3;
$primary-lighter: #ebf1f9;
$primary-lightest: #fafbfd;

$secondary-1: #f8f8f8;
$secondary-2: #848f99;
$secondary-3: #152935;
$secondary-4: #00796b;
$secondary-5: #f44336;
$secondary-6: #ff6f00;
$secondary-7: #f8e71c;

$avatar-tint-purple-1: #f179a1;
$avatar-tint-purple-2: #c47ed0;
$avatar-tint-purple-3: #a489d4;
$avatar-tint-purple-4: #8c97d2;
$avatar-tint-blue-1: #7ac0f8;
$avatar-tint-blue-2: #69cbf8;
$avatar-tint-blue-3: #67d7e5;
$avatar-tint-blue-4: #67c0b8;
$avatar-tint-green-1: #93cf96;
$avatar-tint-green-2: #b9db93;
$avatar-tint-green-3: #e0ea89;
$avatar-tint-yellow-1: #fff38a;
$avatar-tint-yellow-2: #ffd968;
$avatar-tint-yellow-3: #ffc167;

$black: $secondary-3;
$white: #ffffff;
$gray-darker: #979797;
$gray-lighter: #d8d8d8;
$gray-light: $secondary-1;
$gray-blue: #cfd8dc;
$gray-light-blue: #ebf1f9;
$gray-lighter-blue: #dee7f3;
$gray-darker-blue: #dfe3e6;
$background-blue: #f2f6fa;

$gray-slate-light: $secondary-2;

$main: $primary-dark;
$main-light: #5d90cf;

$secondary: $secondary-6;

$danger: $secondary-5;
$warning: $secondary-7;
$ok: $secondary-4;
$active-border: $gray-slate-light;
$zebra-background: #f4f7fb;

$font-main: Montserrat, sans-serif;
$font-link-blue: $primary-dark;
