@import './plugins/index';
@import './reset';
@import './variables';
@import 'common/common';
// @import 'auth/auth';
@import 'layout/layout';
@import 'users/users';
@import 'admin/admin';


// @font-face {
//   font-family: 'Montserrat';
//   src: local('Montserrat'), url(../fonts/Montserrat-Bold.ttf) format('ttf');
// }

html,
body,
#root,
#root > div {
  // min-height: 100vh;
  font-family: Montserrat, sans-serif;
}

.uploadcare--widget {
  display: none !important;
}

* {
  box-sizing: border-box;
}

.slider {
  margin-top: -85px;
  position: relative;
  width: 100%;
  height: 850px;
  overflow: hidden;
  white-space: nowrap;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in .1s;
}

.nextArrow {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 999;
  color: #fff;
}

.backArrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 999;
  color: #fff;
}

.fa-arrow-right:before, .fa-arrow-left:before {
  color: #222
}

.travel-form {
  border-radius: 10px;
  background: rgba(#EBEEF0, 0.9);
  width: 29%;
  padding: 20px;
  margin: 0 36px;
}
.dateContainer, .MuiInput-root {
  &::before {
    display: none;
  }
}

.dateContainer, .MuiFormControl-root {
  background-color: #fff;
  width: 150px;
  border-radius: 7px;
}

.formContainer {
  border-radius: 10px;
  background: rgba(#EBEEF0, 0.9);
  width: 316px;
  height: 310px;
  padding: 20px;
}

.slider-content {
  position: absolute;
  // display: flex;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.slider-info {
  display: flex;
  align-items: center;
  width: 100%;
  height: 550px;
}

.slider-info-price {
  display: flex;
  align-items: center;
  width: 100%;
}

.slider-left-content {
  width: 31%;
  display: flex;
  justify-content: center;
  h1 {
    font-weight: 500;
  }
}

.slider-right-content {
  display: flex;
  justify-content: flex-end;
  width: 69%;
  h6 {
    color: #35AFE4;
    text-align: center;
  };
  p {
    font-size: 10px;
  };
}

.align-center {
  text-align: center;
}

// Booking

.MuiStepConnector-alternativeLabel, .MuiStepLabel-iconContainer > svg {
  display: none;
}

// .MuiStepLabel-labelContainer > span {
//   background-color: #35AFE4;
//   color: #fff;
//   padding: 20px 20px;
//   border-radius: 20px;
// }

.MuiStepper-root {
  padding: 0 !important;
  background-color: #f2f2f2;
}

.MuiStepLabel-label.MuiStepLabel-alternativeLabel {
  margin-top: 0 !important;
}

.MuiFilledInput-root {
  background-color: #fff !important;
  &::before {
    display: none;
  }
}

// Media Queries

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  .slider-left-content {
    width: 41%;
  }
  .slider-right-content {
    width: 59%;
  }
  .travel-form {
    width: 45%;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  //CSS
  .pricingSection {
    margin-top: 1%;
  }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  //CSS
  .pricingSection {
    margin-top: 1.2%;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  //CSS
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  //CSS
  
}







