@mixin box-white-bordered() {
  background: $white;
  border: 0.5px solid $gray-light-blue;
  border-radius: $border-radius-main;
  padding: 50px;

  .divider {
    height: 1px;
    background: $gray-light-blue;
    content: "";
    margin: {
      top: 50px;
      bottom: 50px;
      left: -50px;
      right: -50px;
    }
  }

  &.padding-m {
    padding: 40px;
    .divider {
      margin: {
        top: 40px;
        bottom: 40px;
        left: -40px;
        right: -40px;
      }
    }
  }

  &.padding-s {
    padding: 30px;
    .divider {
      margin: {
        top: 30px;
        bottom: 30px;
        left: -30px;
        right: -30px;
      }
    }
  }

  & + [class^="box-white-bordered"] {
    margin-top: 20px;
  }
}

@mixin box-white() {
  background: $white;
  border-radius: $border-radius-main;
  padding: 25px;
}

@mixin box-white-bordered-shadow() {
  @include box-white-bordered();
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

@mixin box-rounded-border-top() {
  border-radius: $border-radius-main $border-radius-main 0 0;
}

@mixin box-rounded-border-bottom() {
  border-radius: 0 0 $border-radius-main $border-radius-main;
}

@mixin box-no-border() {
  border-style: none;
}

.box-white-bordered {
  @include box-white-bordered();
}
.box-white-bordered-shadow {
  @include box-white-bordered-shadow();
}

@mixin box-color-bordered($color: $gray-light-blue, $border-color: $gray-blue) {
  @include box-white-bordered();
  padding: 15px;
  background-color: $color;
  border-color: $border-color;
}
