@import './mixins';
@import './preloader';
@import './links';
@import './dropdown';
@import './boxes';
@import './radio-selector';
@import './forms/forms';
@import './tabs';
@import './fonts';
@import './headings';
@import './colors';
@import './widgets';
@import './tables';
@import './avatars';
@import './cards';
@import './navigation';
@import './view';
@import './sort';

@import './flex';

.centered {
  margin-left: auto;
  margin-right: auto;
}

.divider {
  height: 1px;
  background: $gray-light-blue;
  content: '';
  margin: {
    top: 50px;
    bottom: 50px;
    left: -50px;
    right: -50px;
  }
}

.mr-30 { margin-right: 30px; }

.mb-30 { margin-bottom: 30px; }

.mt-30 { margin-top: 30px; }